<launch>

  <arg name="laserscan_sick" default="1"/>
  <arg name="laserscan_hokuyo" default="0"/>
  <arg name="camera" default="0"/>
  <arg name="use_rsb_time" default="true"/>
  <arg name="ns" default=""/>
  <arg name="rostimenow" default="false"/>
  
  <!-- ################################################# -->
  <!-- rsb_to_ros_bridge -->
  <!-- ################################################# -->

  <!-- Generate the clock scope from any rsb scope on /amiro*, if the simulator is not used and sim_time is on-->
  <group if="$(arg use_rsb_time)">
    <node pkg="rsb_to_ros_bridge" type="event_to_ros_clock" name="event_to_ros_clock" output="screen">
      <param name="use_rsb_send_time" value="1"/>
      <param name="scope_rsb" value="/$(arg ns)/"/>
    </node>
  </group>

  <group if="$(arg camera)">
    <node name="rst_vision_image_to_ros_sensormsgs_image" pkg="rsb_to_ros_bridge" type="rst_vision_image_to_ros_sensormsgs_image" respawn="false" output="screen" cwd="ROS_HOME" clear_params="true">
      <param name="rsb_listener_scope" value="/$(arg ns)/image/depth"/>
      <param name="ros_publish_image_topic" value="image"/>
      <param name="ros_publish_Compressed_image_topic" value="image/compressed"/>
      <param name="image_compression_format" value="jpg"/>
      <param name="rostimenow" value="$(arg rostimenow)"/>
    </node>
  </group>

  <node name="rst_pose_to_ros_navmsgs_odometry" pkg="rsb_to_ros_bridge" type="rst_pose_to_ros_navmsgs_odometry" respawn="false" output="screen" cwd="ROS_HOME" clear_params="true">
    <param name="rsb_listener_scope" value="/$(arg ns)/pose"/>
    <param name="ros_publish_topic" value="odom"/>
    <param name="rostimenow" value="$(arg rostimenow)"/>
  </node>

  <group if="$(eval arg('laserscan_sick') == true or arg('laserscan_hokuyo') == true)">
    <node name="rst_vision_laserscan_to_ros_sensormsgs_Laserscan" pkg="rsb_to_ros_bridge" type="rst_vision_laserscan_to_ros_sensormsgs_Laserscan" respawn="false" output="screen" cwd="ROS_HOME" clear_params="true">
      <param name="rsb_listener_scope" value="/$(arg ns)/laser"/>
      <param name="ros_publish_topic" value="laser"/>
      <param name="frame_id" value="/$(arg ns)/laser"/>
      <param name="offset_scan" value="-2.35619" if="$(arg laserscan_sick)"/>
      <param name="offset_scan" value="-2.0944" if="$(arg laserscan_hokuyo)"/>
      <param name="rostimenow" value="$(arg rostimenow)"/>
    </node>
  </group>

  <!-- ################################################# -->
  <!-- ros_to_rsb_bridge -->
  <!-- ################################################# -->

  <group if="$(arg teleop)">
    <node name="vel_cmd_bridge" pkg="ros_to_rsb_bridge" type="ros_geometry_msgs_twist_to_rst_value_array" respawn="false" output="screen" cwd="ROS_HOME">
      <param name="ros_listener_topic" value="cmd_vel"/>
      <param name="rsb_publish_scope" value="/$(arg ns)/motor/5"/>
    </node>
  </group>

  <group if="$(arg nav_stack)">
    <node name="Navstack_controll_bridge" pkg="ros_to_rsb_bridge" type="ros_geometry_msgs_twist_to_rst_value_array" respawn="false" output="screen" cwd="ROS_HOME" clear_params="true">
      <param name="ros_listener_topic" value="cmd_vel"/>
      <param name="rsb_publish_scope" value="/$(arg ns)/motor/10"/>
    </node>
  </group>

</launch>
