<launch>

  <!-- SLAM and mapping algorithms -->
  <arg name="hector_mapping" default="1"/>
  <arg name="octomap" default="0"/>
  <arg name="gmapping" default="0"/>

  <!-- Bridge configuration -->
  <arg name="use_rsb_time" default="false"/> <!-- Generate /clock topic from rsb messages in case of rsbag replay -->
  <arg name="rostimenow" default="false"/> <!-- If true, all ROS generated messages are stamped with the system time instead of the RSB timestamp -->

  <!-- Choose the AMiRo steering -->
  <arg name="xbox_controller" default="0"/>
  <arg name="keyboard_controller" default="0"/>
  <arg name="nav_stack" default="1"/>
  <arg name="frontier_exploration" default="0"/> <!-- Works only with nav_stack -->

  <!-- Choose a LiDAR -->
  <arg name="laserscan_sick" default="1"/>
  <arg name="laserscan_hokuyo" default="0"/>

  <!-- Choose a localization for octomapping (aka mapping with known poses) -->
  <arg name="robot_localization" default="0"/> <!-- Use EKF to fuse TWB and robot's odometry -->

  <!-- TWB setup, if a real robot is used -->
  <arg name="marker_id" default="1"/>

  <!-- AMiRo robot name and namespace -->
  <arg name="ns" default="robot"/>

  <!-- AMiRo runs in Gazebo -->
  <arg name="use_gazebo" default="false"/>
  
  <!-- Navigation -->
  <include file="$(find amiro_slam)/launch/navigation.launch" ns="$(arg ns)">
    <arg name="xbox_controller" value="$(arg xbox_controller)"/>
    <arg name="keyboard_controller" value="$(arg keyboard_controller)"/>
    <arg name="frontier_exploration" value="$(arg frontier_exploration)"/>
    <arg name="nav_stack" value="$(arg nav_stack)"/>
    <arg name="ns" value="$(arg ns)"/>
  </include>
 
  <!-- Bridges for using the real AMiRo -->
  <include file="$(find amiro_slam)/launch/bridges.launch" ns="$(arg ns)" unless="$(arg use_gazebo)">
    <arg name="laserscan_sick" value="$(arg laserscan_sick)"/>
    <arg name="laserscan_hokuyo" value="$(arg laserscan_hokuyo)"/>
    <arg name="use_rsb_time" value="$(arg use_rsb_time)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="rostimenow" value="$(arg rostimenow)"/>
  </include>

  <!-- Mapping -->
  <include file="$(find amiro_slam)/launch/slam.launch" ns="$(arg ns)">
    <arg name="ns" value="$(arg ns)"/>
    <arg name="marker_id" value="$(arg marker_id)"/>
    <arg name="use_gazebo" value="$(arg use_gazebo)"/>
    <arg name="robot_localization" value="$(arg robot_localization)"/>
    <arg name="hector_mapping" value="$(arg hector_mapping)"/>
    <arg name="octomap" value="$(arg octomap)"/>
    <arg name="gmapping" value="$(arg gmapping)"/>
  </include>

  <!--AMiRo CAD model-->
  <group unless="$(arg use_gazebo)"> <!-- the start_gazebo.launch file already loads the model -->
    <include file="$(find amiro_description)/launch/amiro.launch" clear_params="true" ns="$(arg ns)">
      <arg name="robot_name" value="$(arg ns)" />
      <arg name="use_gazebo" value="false" />
      <arg name="robot_position" value="-x 0.0 -y 0.0 -z 0.01" />
      <arg name="update_rate" value="50.0" />
      <arg name="robot_model" value="amiro_hokuyo.xacro" />
      <arg name="use_odom_to_world_tf" value="false" />
    </include>
  </group>
  
  <!-- Viz -->  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find amiro_slam)/rviz/config.rviz" respawn="true"/>

</launch>
