<launch>

  <!-- Robot namespace -->
  <arg name="ns" default="amiro4"/>
  
  <!-- We do not simulate -->
  <param name="use_sim_time" value="false"/>

  <!-- Mapping -->
  <include file="$(find amiro_slam)/launch/configure.launch" clear_params="false">
    <arg name="ns" value="$(arg ns)" />
    <arg name="use_gazebo" value="false" />
    <arg name="keyboard_controller" value="false" />
    <arg name="nav_stack" value="true" />
    <arg name="robot_localization" value="false" />
    <arg name="rostimenow" value="true" />
    <arg name="use_bridges" value="true" />
  </include>

  <node pkg="tf" type="static_transform_publisher" name="amiro_odom_baselink" args="0 0 0 0 0 0 $(arg ns)/odom $(arg ns)/base_link 100"/>

</launch>
